<!DOCTYPE html>
<html lang="en">
    <title> Data Collector App </title>
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
        <body>
            <div class="container">
                <h1> Collecting weight </h1>
                <h3> Please fill the entries to get population statistic on weight</h3>
                <form action="{{url_for('success')}}" method="POST">
                    <input title="Your email will be save with us" placeholder="Enter your email address" type="email" name="email_name" required><br>
                    <input title="Your data will be save with us" placeholder="Enter your weight in kg" type="number" min="2" max="300" name="weight_data" required><br>
                    <button type="submit"> Submit </button>
                </form>
            </div>
        </body>
</html>